.quality__box{
  display: flex;
  justify-content: space-around;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 60px 0;
}

.quality__info{
  width: 100%;
  max-width: 540px;
}

.quality__title{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.quality__text{
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.quality__img{
  margin-top: -130px;
}





